<ion-card-content class="Address">
<ion-icon name="arrow-back-outline" class="arrow"></ion-icon>
<h1> Add Address</h1>
<h3>Name</h3>
<ion-card class="name">
  <p>poter parker</p>
</ion-card>
<h3>Address</h3>
<ion-card class="address">
  <p>185,13th main,Brigade Road,Bangalore,India</p>
</ion-card>

<ion-card-content class="abc"> 
<ion-grid>
  <ion-row>
    <ion-col> <ion-list>
      <h3>State</h3>
      <ion-item>
        <ion-select aria-label="" value="select"  class="state">
          <ion-select-option value="Telangana">Telangana</ion-select-option>
          <ion-select-option value="Andrapradesh">Andrapradesh</ion-select-option>
          <ion-select-option value="Bangalore">Bangalore</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list> </ion-col>
    <ion-col> <ion-list>
    <h3>City</h3>
    <ion-item>
      
      <ion-select aria-label="" value="select" class="city">
        <ion-select-option value="Hydrabad">Hydrabad</ion-select-option>
        <ion-select-option value="warangal">warangal</ion-select-option>
        <ion-select-option value="hanamkonda">hanamkonda</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
<h3>Pincode</h3>
<ion-card class="pin">
  <p>Enter pincode</p>
</ion-card>
</ion-card-content>
<h3>Type</h3>
<ion-card-content class="card-3">
  <button class="btn-1">Home</button>
  <button class="btn">Work</button>
  <button class="btn">Others</button>
</ion-card-content>
<ion-card-content>
<button class="btn-2">Save Address</button>
<button class="btn-3"> Cancel</button>
</ion-card-content>