<ion-card-content class="Address">
<ion-icon name="arrow-back-outline" class="arrow"></ion-icon>
<h1> Add Address</h1>
<h3>Name</h3>
<ion-card class="name">
  <p>poter parker</p>
</ion-card>
<h3>Address</h3>
<ion-card class="address">
  <p>185,13th main,Brigade Road,Bangalore,India</p>
</ion-card>
<ion-card-content>
<h3>state</h3>
  <select name="select" id="" class="state">
    <option></option>
    <option></option>
    <option></option>
  </select>
  <h3>City</h3>
  <select name="select" id="" class="city">
    <option></option>
    <option></option>
    <option></option>
  </select>
</ion-card-content>
<h3>Pincode</h3>
<ion-card class="pin">
  <p>Enter pincode</p>
</ion-card>
</ion-card-content>
<h3>Type</h3>
<ion-card-content class="card-3">
  
  <button class="btn-1">Home</button>
  <button class="btn">Work</button>
  <button class="btn">Others</button>
</ion-card-content>
<ion-card-content>
<button class="btn-2">Save Address</button>
<button class="btn-3"> Cancel</button>
</ion-card-content>
