<capacitor-google-map #map ></capacitor-google-map>
<ion-card class="search">
  <ion-progress-bar type="indeterminate" color="medium" class="progress"></ion-progress-bar>
  <ion-img src ="{{imageURL}}" style="width: 350px; height: 200px;margin: 20px 20px;" class="auto"></ion-img>
<p class="hold">Hold On!! We are searching for <br> nearby driver for you </p>
<ion-progress-bar type="indeterminate" color="success" class="bar"></ion-progress-bar>
<button color="light" class="btn">Cancel Ride</button>
</ion-card>
