<capacitor-google-map #map ></capacitor-google-map>
<ion-content><ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
   <ion-searchbar  placeholder="Search Destination" style="margin-top:20px;border-radius: 50px;"></ion-searchbar>
  <p>Where would you like to go ?</p>
</ion-content>

<ion-card style="display: flex; height:70px; width:100%; margin-bottom: 50px;">
  <img src="/assets/maps.png" alt="" style="height:30px; width:40px; margin-top: 30px;">&nbsp;&nbsp;<h2>Wuse Market</h2>
  
</ion-card>

<ion-card  style="display: flex; height:70px; width:100%; margin-bottom: 60px;">
  <img src="/assets/maps.png" alt="" style="height:30px; width:40px; margin-top: 30px;">&nbsp;&nbsp;<h2>Banex Plaza</h2>
  
</ion-card>

