<capacitor-google-map #map ></capacitor-google-map>
<ion-card-content>
      <img src="assets/yaar.jpeg" alt="" style="height:60px;width: 50px; margin-left: 40px;" class="yar">
   
    <ion-card style="height:70px; margin-bottom: 10px;">
      <ion-checkbox class="square-checkbox" ></ion-checkbox>
      <h1 class="middle">Where to ?</h1>
    </ion-card>
  </ion-card-content>
  <ion-card-content class="card-content">
  <ion-icon name="refresh-outline" class="reload"></ion-icon>
  <div class="content">
    <p>19.4m</p>
    <h1>Miyapur</h1>
    <p>Hyderabad, Telangana</p> 
  </div>
</ion-card-content>



