capacitor-google-map{
    width: 350%;
    height: 450px;
}
  .ion-card{
  .ionic{
    width:100px;
    height:45px;
  }
 }  
    .p{
      font-size:10px;
    }
    h2{
      font-size:20px;   
    }
    p{
      font-size:17px;
    }
.middle{
  text-align: center;
  margin-top: -30px;
}
  .red{
    width: 50px;
    height: 60px;
    margin-left: 40px;
  }

.square-checkbox {
 margin-top:30px ;
  margin-left: 50px;
}
.Wh{
  margin:0px 100px;
  height: 150px;
  width: 250px;
  border: none;
  
}

.card-content {
  display: flex;
  align-items: center; 
  margin: 0px 50px;
  
}

.reload { 
  height:30px ;
  width: 30px;
}

.content {
  flex: 1; 
  margin-left: 30px;
}
