<capacitor-google-map #map ></capacitor-google-map>
<ion-content padding>
  <ion-card-content>
      <img src="assets/yaar.jpeg" alt="" style="height:60px;width: 50px; margin-left: 40px;">
    </ion-card-content>
    <ion-card style="height:70px; margin-bottom: 10px;">
      <ion-checkbox class="square-checkbox" ></ion-checkbox>
    
      <h1 class="middle">Where to ?</h1>
    </ion-card>
  <ion-card-content>
      <p>19.4m</p>
      <ion-icon name="refresh-outline" style="height:30px;width: 40px;"></ion-icon>
      <h1>Miyapur</h1>
      <p>Hyderabad,Telangana</p> 
    </ion-card-content>
</ion-content>


