capacitor-google-map{
    width: 410px;
    height: 380px;
}
.but{
    height: 40px;
    width: 260px;
    border-radius: 8px;
    border: none;
    margin:0px 40px;
    font-size: 20px;
    background-color:rgb(201, 89, 14) ;
    color: white;

  }
  .but-1{
    height: 40px;
    width: 260px;
    color:rgb(201, 89, 14);
    border-radius: 8px;
    border: 1px solid rgb(201, 89, 14);
    margin:40px;
    font-size: 20px;
   

  }
  h1{
    font-size: 40px;
    margin: 40px;
  }
  p{
    margin: 40px; 

  }