capacitor-google-map{
    width: 100%;
    height: 730px;
    
}
.box{
   width: 100%;
   height: 80px;
    color: #fff;
    font-size:15px;
    --background: rgb(135, 152, 235);

}
.plus{
    padding-left: 40px;
}

    
.transparent-background {
    --background: transparent;
  }
  p{
    color: #fff;
  }
    

