<capacitor-google-map #map ></capacitor-google-map>
<ion-content>
<ion-card class="box">
   <ion-card-header> 
    <ion-item class="transparent-background">
   <p>Ride Book at 8:30 PM</p>
   <ion-button shape="round">View Details</ion-button>
      <ion-icon name="close-outline" class="plus" style="color:#fff;" ></ion-icon>
       </ion-item>  
     </ion-card-header>
  </ion-card>
</ion-content>
<ion-tabs>
  <ion-tab-bar >
    <ion-tab-button tab="home">
      <img  src = "/assets/home.png"style="height:40px;width:40px;">
  </ion-tab-button> 
     <ion-tab-button tab="search">
      <ion-icon name="search-sharp"  style="height:40px;width:40px;"></ion-icon>
    </ion-tab-button> 
     <ion-tab-button tab="message"> 
    <img src = "/assets/speech-bubble.png" style="height:40px;width:40px;">
    </ion-tab-button> 
    <ion-tab-button tab="contact">
      <img src = "/assets/contact.png" style="height:40px;width:40px;">
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>  