<capacitor-google-map #map ></capacitor-google-map>
<ion-card class="search">
  <ion-progress-bar type="indeterminate" color="medium" class="progress"></ion-progress-bar>
  
  <ion-row >
    <ion-col class="on">
      <h2 > On Trip</h2>
    </ion-col>
    <ion-col text-right class="on">
      <p><ion-icon name="alert-circle-outline"></ion-icon> Emergency</p>
    </ion-col>
  </ion-row>
  <hr color=" 1px solid whitesmoke">
  <ion-card-content class="img">
    <table>
      <tr>
        
  <td><img alt="Silhouette of mountains" src="/assets/chat.png" style="width: 50px;height: 50px;" class="msg" /></td>
  <td><img alt="Silhouette of mountains" src="/assets/nature.jpg" style="width: 120px;height: 120px;border-radius: 60px;margin: 10px 30px;"/></td>
  <td><img alt="Silhouette of mountains" src="/assets/phone-call.png" style="width: 50px;height: 50px;" class="call"/></td>
</tr>

</table>
</ion-card-content>
  <h1>Akshay Kumar</h1> 
  <p class="para1">Swift Dezire  KA 05EH 2567</p>

<ion-card-content class="button">
<button color="light" class="btn"> <ion-icon name="share-social-outline"></ion-icon>Share</button>
<button color="light" class="btn-1">End Ride</button>
</ion-card-content>
</ion-card>



  

 