<capacitor-google-map #map ></capacitor-google-map>
<ion-card>
       <h1>Co-Rides Available</h1>
          <p>#500 split fee</p>
        </ion-card>
   <ion-item>
    <ion-icon name="car-sport-outline"  style="height:70px;width:60px;"></ion-icon>
    <h4 style="margin-left: 10px;">Timi </h4> &nbsp;2seats<br>
   <p style="margin-bottom: -30px; margin-left: -50px;">Maithma</p>
    <button color="medium" class="btn" slot="end">Join Ride</button>
  </ion-item>
 <ion-item>
   <ion-icon name="car-sport-outline"  style="height:70px;width:60px;"></ion-icon>
   <h4 style="margin-left: 10px;">Yemi </h4> &nbsp;2seats<br>
  <p style="margin-bottom: -30px; margin-left: -50px;">MaithmaMarket</p>
   <button color="medium" class="btn">Join Ride</button>
 </ion-item>
 <ion-item>
   <ion-icon name="car-sport-outline"  style="height:70px;width:60px;"></ion-icon>
   <h4 style="margin-left: 10px;">John </h4> &nbsp;2seats<br>
  <p style="margin-bottom: -30px; margin-left: -50px;">MaithmaShop</p>
   <button color="medium" class="btn" slot="end">Join Ride</button>
 </ion-item>

