capacitor-google-map{
    width: 100%;
    height: 450px;
    position: fixed;
}
.btn{
    border-radius: 20px;
    height:40px;
    width:100px;
    background-color: rgb(137, 133, 133);
    color: #fff;
    font-size: 15px;
    margin-left: 50px;   
    
}
p{
    font-weight: lighter;
}
