<capacitor-google-map #map ></capacitor-google-map>
<ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
<ion-content>
  <ion-item>
    <h1>Co-Rides Available</h1>
    <p>#500 split fee</p>
  </ion-item>
</ion-content>
<ion-card-content>
  <!-- <ion-row>
    <ion-col>
      <h3><ion-icon name="car-sport-outline;" style="width: 10px; height:20px;"></ion-icon>Timi </h3> 2 seats
      <p>maitama</p>
    </ion-col>
    <ion-col text-right>
      <button color="medium" class="btn">Jhon Ride</button>
    </ion-col>
  </ion-row>
</ion-card-content>
<ion-card-content>
  <ion-row>
    <ion-col>
      <h3><ion-icon name="car-sport-outline"></ion-icon>Yami </h3>2 seats
      <p>Maitama Market</p>
    </ion-col>
    <ion-col text-right>
      <button color="medium" class="btn">Jhon Ride</button>
    </ion-col>
  </ion-row>
</ion-card-content>
<ion-card-content>
  <ion-row>
    <ion-col>
      <h3><ion-icon name="car-sport-outline"></ion-icon>Jhon </h3>2 seats
      <p>Maitama Shop</p>
    </ion-col>
    <ion-col text-right>
      <button color="medium" class="btn">Jhon Ride</button>
    </ion-col>
  </ion-row>
</ion-card-content> -->

<ion-row>
<ion-list>
  <ion-item class="grid">
    <h3><ion-icon name="car-sport-outline"class="margin-bottom:20px;"></ion-icon>Timi</h3>2 seates
      <p>Maitama</p>
      <ion-col text-right>
        <button color="medium" class="btn">Jhon Ride</button>
      </ion-col>
    </ion-item>
     </ion-list>
     <ion-row>
      <ion-list>
        <ion-item class="grid">
          <h3><ion-icon name="car-sport-outline"class="margin-bottom:20px;"></ion-icon>Yemi</h3>2 seates
            <p>Maitama Market</p>
            <ion-col text-right>
              <button color="medium" class="btn">Jhon Ride</button>
            </ion-col>
          </ion-item>
           </ion-list>
           <ion-row>
            <ion-list>
              <ion-item class="grid">
                <h3><ion-icon name="car-sport-outline"class="margin-bottom:20px;"></ion-icon>Jhon</h3>2 seates
                  <p>Maitama Shop</p>
                  <ion-col text-right>
                    <button color="medium" class="btn">Jhon Ride</button>
                  </ion-col>
                </ion-item>
                 </ion-list>
      
