<capacitor-google-map #map ></capacitor-google-map>
<ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
    <h1>Co-Rides Available</h1>
    <p>#500 split fee</p>
   <ion-item >
      <h3><ion-icon name="car-sport-outline"></ion-icon>Timi </h3> &nbsp;   2 seats
          <p>maitama</p>
   <ion-col text-right>
      <button color="medium" class="btn">Jhon Ride</button>
    <ion-item>
      <h3><ion-icon name="car-sport-outline"></ion-icon>Yami </h3>&nbsp;   2 seats
    </ion-item>
      <p>Maitama Market</p>
     <ion-col text-right>
      <button color="medium" class="btn">Jhon Ride</button>
     <ion-item>
      <h3><ion-icon name="car-sport-outline"></ion-icon>Jhon </h3>&nbsp;   2 seats
    </ion-item>
      <p>Maitama Shop</p>
    <ion-col text-right>
    <button color="medium" class="btn">Jhon Ride</button>
    