capacitor-google-map{
    width: 350px;
    height: 400px;
}
.custom-h4 {
    font-size: 1.6rem; 
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
}
.custom-card {
    background-color: #f4f4f4; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
  }

  
  ion-card-title {
    color: #333; 
    font-size: 1.2rem; 
    font-weight: bold; 
  }
  
 
  ion-card-content {
    color: #666; 
    font-size: 1rem; 
    margin-bottom: 50px;
    
  }
  .last{
    background-color:orange ;
    color: white;
    // padding: 10px
    width: 370px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
  }
 



$custom-radio-color: rgba(27, 73, 27, 0.354); 

ion-radio {
  --color: $custom-radio-color;
  
  
}
