<capacitor-google-map #map ></capacitor-google-map>
<ion-card>
  <h4 class="custom-h4">confirm pickup point</h4>
</ion-card>
<ion-content>
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
     
     <ion-radio color="success"></ion-radio>

     G99j+CJR,Opp.Konaseema infinite,Vasanth Nagar Colony,Nizampet,Hyderabad,Telangana Pincode-500090
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
<button class="last">confirm location</button>

