capacitor-google-map{
    width: 380px;
    height: 450px;
    margin-left: 2 0px;
    position:fixed;
}
ion-label{
 margin-left:100px;
}
.grid{
    background-color: whitesmoke;
}
h1{
    text-align: center;
}
.but{
  height: 30px;
  width: 380px;
  color:white;
  background-color:orange;
  border-radius: 5px;
}

 
