  <ion-content>
  <ion-item>
    <ion-icon name="person-circle-outline" style="height:100px; width:120px;"></ion-icon>
    <h3>Welcome</h3><h1>User</h1>
    <ion-icon  name="notifications-outline" style="margin-left:230px; height: 80px; width:100px;"></ion-icon>
  </ion-item>
  <ion-card style="background-color: darkgray; height: 60px;">
    <ion-icon name="location-outline" style="height: 40px; width: 60px; margin-top: 15px;"></ion-icon>
    <h4>Your Location</h4>
</ion-card> 
<ion-item> 
  <h2>|Services</h2>
  <h6 slot="end">See all</h6>
  </ion-item>
  <ion-item style="white-space: nowrap; overflow-x: auto; width: 100%;">
    <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/128/6009/6009214.png" style="width: 60px;height: 60px;border-radius: 50%; margin-left: 15px; "/>
    <p>Rent</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img alt="Silhouette of mountains" src="/assets/taxi-app.png" style="width: 60px;height: 60px;border-radius: 50%; margin-left: 15px;"/>
    <p>Booking</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img alt="Silhouette of mountains" src="https://st2.depositphotos.com/2172301/6729/v/950/depositphotos_67294905-stock-illustration-concept-logo-of-wedding-agency.jpg" style="width: 80px;height: 90px;border-radius: 50%; margin-left: 15px;"/>
    <p>Wedding <br>
      Cars</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img alt="Silhouette of mountains" src="/assets/trade.png" style="width: 60px;height: 60px;border-radius: 50%; margin-left: 15px;"/>
    <p>Car<br>
    Sale</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img alt="Silhouette of mountains" src="/assets/exchange.png" style="width: 60px;height: 60px;border-radius: 50%; margin-left: 15px;"/>
    <p>Exchange</p>
  </ion-item>
  <ion-item>
    <h2>|Speacial deals:</h2>
    <h6 slot="end">See all</h6>
    </ion-item>
    <ion-item tyle="white-space: nowrap; overflow-x: auto; width: 100%">
   <ion-card style="height:180px; width:350px ;">
    <ion-card-content>50%0ffer</ion-card-content>
    <img src="https://media.zigcdn.com/media/model/2022/Sep/audi_a4_2022_360x240.jpg" alt="Image Description" style="height:100px; width: 150px;"><ion-card-content><h2>Audi A6</h2></ion-card-content>
  </ion-card>
  <ion-card style="height:180px; width:350px ;">
    <ion-card-content>50%0ffer</ion-card-content>
    <img src="https://media.zigcdn.com/media/model/2022/Sep/audi_a4_2022_360x240.jpg" alt="Image Description" style="height:100px; width: 150px;"><ion-card-content><h2>Audi A6</h2></ion-card-content>
  </ion-card>
  <ion-card style="height:180px; width:350px;">
    <ion-card-content>50%0ffer</ion-card-content>
    <img src="https://media.zigcdn.com/media/model/2022/Sep/audi_a4_2022_360x240.jpg" alt="Image Description" style="height:100px; width: 150px;"><ion-card-content><h2>Audi A6</h2></ion-card-content>
  </ion-card>
  </ion-item>
  <ion-item>
    <h2>|Hot deals:</h2>
    <h6 slot="end">See all</h6>
    </ion-item>
    <ion-item style="white-space: nowrap; overflow-x: auto; width: 100%">
   <ion-card style="height:180px; width:350px ;">
    <ion-card-content>50%0ffer</ion-card-content>
    <img src="https://media.zigcdn.com/media/model/2022/Sep/audi_a4_2022_360x240.jpg" alt="Image Description" style="height:100px; width: 150px;"><ion-card-content><h2>Audi A6</h2></ion-card-content>
  </ion-card>
  <ion-card style="height:180px; width:350px ;">
    <ion-card-content>50%0ffer</ion-card-content>
    <img src="https://media.zigcdn.com/media/model/2022/Sep/audi_a4_2022_360x240.jpg" alt="Image Description" style="height:100px; width: 150px;"><ion-card-content><h2>Audi A6</h2></ion-card-content>
  </ion-card>
  <ion-card style="height:180px; width:350px;">
    <ion-card-content>50%0ffer</ion-card-content>
    <img src="https://media.zigcdn.com/media/model/2022/Sep/audi_a4_2022_360x240.jpg" alt="Image Description" style="height:100px; width: 150px;"><ion-card-content><h2>Audi A6</h2></ion-card-content>
  </ion-card>
  </ion-item>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="cars">
      <ion-icon name="car-outline"></ion-icon>
      Cars
    </ion-tab-button>
    <ion-tab-button tab="brand">
      <ion-icon name="medal-outline"></ion-icon>
      Brands
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
 
 