<capacitor-google-map #map ></capacitor-google-map>
<ion-progress-bar type="indeterminate" color="medium" class="progress"></ion-progress-bar>
<ion-card class="solo">
  
   <ion-row>
    <ion-col>
      
      <h5><ion-icon name="car-sport-outline" style="width: 30px;height: 30px;"></ion-icon> Soloride Premium</h5>
      <p>4 minaway 4 seats</p>
    </ion-col>
    <ion-col text-right>
      <p># 8500</p>
    </ion-col>
  </ion-row>
</ion-card>
<ion-card-content class="solo-1">
  <ion-row>
    <ion-col>
      <h2><ion-icon name="car-sport-outline" style="width: 30px;height: 30px;"></ion-icon> Soloride Premium</h2>
      <p>4 minaway 4 seats</p>
    </ion-col>
    <ion-col text-right>
      <p># 6500</p>
    </ion-col>
  </ion-row>
</ion-card-content>
<ion-card-content class="btn">
  <button color="light" class="button">Book Solo Ride</button>
  <button color="medium" class="button">Spilit Ride</button>
</ion-card-content>  

 
 