<capacitor-google-map #map ></capacitor-google-map>
<ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
<ion-card class="solo">
  
  <ion-row>
    <ion-col>
      <!-- <img alt="Silhouette of mountains" src="/assets/car.jpg" style="width: 50px;height: 50px;" class="pic" /> -->
      <h4>Soloride Premium</h4>
      <p>4 minaway 4 seats</p>
    </ion-col>
    <ion-col text-right>
      <p># 8500</p>
    </ion-col>
  </ion-row>
</ion-card>
<ion-card-content class="solo-1">
  <ion-row>
    <ion-col>
      <h3>Soloride Premium</h3>
      <p>4 minaway 4 seats</p>
    </ion-col>
    <ion-col text-right>
      <p># 6500</p>
    </ion-col>
  </ion-row>
</ion-card-content>
<ion-card-content class="btn">
  <button color="light" class="button">Book Solo Ride</button>
  <button color="medium" class="button">Spilit Ride</button>
</ion-card-content>


