capacitor-google-map{
    width:410px;
    height: 350px;
    // position: fixed;


}

.ride-1{
    margin-bottom: 310px;
    width: 400px;
    height: 45px;
    text-align: center;
    border-radius: none;
}
.auto{
   margin: 0px 50px;
//    position: fixed;
}
h2{
    text-align: center;
}
.but{
    height: 40px;
    width: 260px;
    border-radius: 8px;
    border: none;
    margin:0px 40px;
    font-size: 20px;

  }
  .but-1{
    height: 40px;
    width: 260px;
    color:rgb(201, 89, 14);
    border-radius: 5px;
    border: 1px solid rgb(201, 89, 14);
    margin:40px;
    font-size: 20px;


  }