<ion-icon name="arrow-back-outline"></ion-icon>
<ion-content>
<h1>Address</h1>
<ion-item>
<ion-button color="light" style="border-radius: 8px; margin-left: 30px;">Home</ion-button>
<ion-icon name="pencil-outline" slot="end" class="draw"></ion-icon>
<ion-icon name="trash-outline" slot="end" class="draw"></ion-icon>
</ion-item>
<h2 style="margin-left: 10px;">Jamie Andreson</h2>
<p>Road No 12 Moosapet Hyd Telangana</p>
<ion-item>
  <ion-button color="light" style="border-radius: 8px; margin-left: 30px;">Work</ion-button>
  <ion-icon name="pencil-outline" slot="end" class="draw"></ion-icon>
  <ion-icon name="trash-outline" slot="end" class="draw"></ion-icon>
  </ion-item>
  <h2 style="margin-left: 10px;">Jamie Andreson</h2>
  <p>Road No 12 Moosapet Hyd Telangana </p>
  <ion-button color="light" class="but">Add new address</ion-button>
</ion-content>
