ion-icon{
    height: 50px;
    width: 50px;
}
h1{
    margin-left: 80px;
}
.draw {
    font-size: 24px;
    height: 40px;
    width: 30px;
  }
  h2{
    margin-left: 10px;
    font-size: large;
    font-weight: bold;
  }
  p{
    font-weight: lighter;
    margin-left: 20px;
  }
  .but{
    width:400px;

  }