<ion-card>
  <ion-card-header>
    <ion-card-title>NA</ion-card-title>
   <h3>9908798903</h3> 
  </ion-card-header>
  <ion-list>
    <h3><ion-icon name="person-circle-outline"></ion-icon>   My Profile</h3>
    <h3><ion-icon name="list-outline"></ion-icon>            My Bookings</h3>
    <h3><img src="/assets/question.png" alt="" style="height: 20px; width: 20px;">  Help</h3>
    <h3><ion-icon name="share-social-outline"></ion-icon>   Share App</h3>
    <h3><ion-icon name="power-outline"></ion-icon>   Log Out</h3>
  </ion-list>
</ion-card>