.ca{
    width:450px;
    height:100px;
}

h3{
font-weight: bold;  
}
p{
color:blue;
margin-bottom:120px ;
margin-left: 120px;
}
h5{
  margin-bottom:120px ;
  margin-right: 20px;
}
h6{
font-size: large;
margin-right: 10px;
}