<ion-item>
<ion-icon name="arrow-back-outline"></ion-icon>  &nbsp;
 <h1> Schedule Ride</h1>
  </ion-item>
  <ion-card class="ca">
    <ion-item>
    <img src ="/assets/map.png"style="height:20px;width:20px;">&nbsp;
    <h4>Home</h4>
    <img src ="/assets/up-and-down-arrows.png"style="height:40px;width:40px; margin-left:200px;">
    <hr>
    </ion-item>
  <ion-item>
  <img src ="/assets/radio-button.png"style="height:20px;width:20px;">&nbsp;
    <h4>workplace</h4>
</ion-item> 
</ion-card>
<ion-card style="height:160px;">
    <ion-item>
    <img src ="/assets/icon/car.jpg" style="height:120px;width:100px;">  &nbsp;
      <h3>Carex Mini<br>
        <ion-icon name="time-outline"style="height:15px;width:15px;"></ion-icon> 5 mins
      </h3>
        <img src ="/assets/icon/rupee.png"style="height:25px;width:25px; margin-left:30px;">&nbsp;
        <h3>15</h3>&nbsp;<h4>/km</h4>
    </ion-item>
    <ion-item>
        <p>Change Ride</p>
    </ion-item>
 </ion-card>
 <ion-card>
  From
  <ion-item>
  <h6>01/01/2024</h6>
  <ion-icon name="calendar-outline"style="height:25px;width:30px;margin-left:220px;"></ion-icon>
</ion-item>
 </ion-card> 
  <ion-card>
    To
  <ion-item>
  <h6>01/01/2024</h6>
  <ion-icon name="calendar-outline"style="height:25px;width:30px;margin-left:220px;"></ion-icon>
</ion-item>
</ion-card> 
<ion-card>
  Time
<ion-item>
<h6>8:30 AM</h6>
<ion-icon name="chevron-down-outline"style="height:15px;width:20px;margin-left:250px;"></ion-icon>
</ion-item>
</ion-card> 
<ion-card> 
 Number os pasingers
<ion-item>
<h6>1</h6>
<ion-icon name="chevron-down-outline"style="height:15px;width:25px;margin-left:300px;"></ion-icon>
</ion-item>
</ion-card> 
<ion-button shape="round"style="height:60px;width:280px;margin-left:70px;">Schedule Now</ion-button>
  
  
    
